SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=seu_email@gmail.com
SMTP_PASSWORD=1111 1111 1111 1111

MAIL_TO=seu_email@gmail.com
MAIL_FROM_ANTONIOCLAUDIODEV="Antonio Claudio Dev <seu_email@gmail.com>"
MAIL_FROM_ARENAMANAGER="Arena Manager <seu_email@gmail.com>"
FRONTEND_URL="https://api-arena-manager.vercel.app"

API_KEY=gerar_uma_chave_segura_aqui
