SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=seu-email@gmail.com
SMTP_PASS=sua-senha-app
MAIL_TO=destinatario@example.com
MAIL_FROM_ANTONIOCLAUDIODEV="Antonio Claudio Dev <seu-email@gmail.com>"
MAIL_FROM_ARENAMANAGER="Arena Manager <seu-email@gmail.com>"

FRONTEND_URL=http://127.0.0.1:8000 

RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RABBITMQ_ARENA_MANAGER_QUEUE=arena-manager-queue
RABBITMQ_ARENA_MANAGER_EXCHANGE=arena-manager-exchange
RABBITMQ_ARENA_MANAGER_ROUTING_KEY=arena_manager
RABBITMQ_PORTFOLIO_QUEUE=portfolio-queue
RABBITMQ_PORTFOLIO_EXCHANGE=portfolio-exchange
RABBITMQ_PORTFOLIO_ROUTING_KEY=antonio_claudio_dev